name: .NET CI
on:
  pull_request:
    branches:
      - master
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      #Check out the repository
      - name: Checkout repository
        uses: actions/checkout@v3
          
      #Check set up .NET Core SDK
      - name: Setup .NET Core SDK
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: 8.0.100
          
      #Check the version of .NET Core SDK
      - name: Check .NET Core SDK version
        run: dotnet --version
        
      #Restore dependencies
      - name: Restore dependencies
        run: dotnet restore
        
      # Build the main project only (API project, not tests)
      - name: Build
        run: dotnet build CachingInDotNet/CachingInDotNet.csproj --no-restore --configuration Release
        
      # Build the test project
      - name: Build test project
        run: |
          dotnet build CachingInDotNet.Tests/CachingInDotNet.Tests.csproj --no-restore --configuration Release
          dotnet build CachingInDotNet.IntegrationTest.Tests/CachingInDotNet.IntegrationTest.Tests.csproj --no-restore --configuration Release
      #Run tests
      - name: Run tests
        run: |
          dotnet test CachingInDotNet.Tests/CachingInDotNet.Tests.csproj --no-build --verbosity normal
          dotnet test CachingInDotNet.IntegrationTest.Tests/CachingInDotNet.IntegrationTest.Tests.csproj --no-build --verbosity normal